
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #212429;
    color: white;
    margin: 0px;
    font-family: Roboto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.inbio {
    display: flex;
    align-items: center;
    justify-content: left;
}

.inbio img {
    border: none;
    border-radius : 75px;
    width: 45px;
    aspect-ratio: 1/1;
    margin: 15px
}

.buttons {
    display: grid;
    grid-template-columns: repeat(7,1fr) ;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    list-style-type: none;
    margin-right: 30px;
}

.buttons a {
    text-decoration: none;
}

.buttons img {
    width:30px;
    aspect-ratio: 1/1;
}

.buttons button {
    background-color: #212429;
    color: #d01654;
    border: 1px black solid;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: 1s;
}

.buttons button:hover {
    transform: scale(1.1);
    background-color: gray;
}

.buttons li{
    transition: transform 1s;
    color: white;
}
.buttons li:hover {
    transform: scale(1.1);
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

.presentation {
    display: flex;
    align-items: center;
    gap : 150px;
    justify-content: center;
}

.Texte1 h2 {
    font-size: 30px;
    margin: 0;
    line-height: 1;
}

.Texte1 h1 {
    font-size: 45px;
    margin: 0;
    line-height: 0.5;
}

.Texte1 h1 span {
    color: #d01654;
}

.Texte1 p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.textsocial {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.icon {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 50px
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.icon img {
    width: 40px;
    aspect-ratio: 1/1;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.photoN {
    align-items: center;
    justify-content: center;
}

.photoN img {
    width: 300px;
    aspect-ratio: 1/1.7;
    border-radius: 10px;
}

.done p span {
    color: #d01654;
    font-size: 18px;
}

.done h2 {
    font-size: 30px;
}

.done h3 {
    font-size: 23px;
}

.donetitle {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-bottom: 30px;
}

.lootcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap : 30px;
    text-align: justify;
    margin-bottom: 60px;
}

.case {
    border: 2px solid black;
    padding: 20px;
    box-shadow: 5px 5px 5px #d01654;
}

.case img {
    width:40px;
    aspect-ratio: 1/1;
}

.portfoliotitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-bottom: 30px;
}

.portfolio p span {
    color: #d01654;
    font-size: 18px;
}

.portfolio h2 {
    font-size: 30px;
}

.portfolio h3 {
    font-size: 20px;
}

.lootcarre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap : 30px;
    text-align: justify;
    margin-bottom: 60px;
}

.lootcarre img {
    transition: transform 1s;
}

.lootcarre img:hover {
        transform: scale(1.1);
}

.lootcarre img {
    width: 100%;
    aspect-ratio: 4/3;
}

.carre {
    border: 2px solid black;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 900px) { /* Tablettes et grand smartphones */
    
    main {
        padding-left: 50px;
        padding-right: 50px; 
    }
    .buttons {
        display: flex;
        gap: 15px;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        margin-top: 20px;
    }

    .presentation {
        gap: 20px;
    }

    .Texte1 {
        padding-left: 80px;
        padding-right: 80px;
        border: #212562 1px solid;
    }

    .lootcase {
        grid-template-columns: 1fr 1fr;
        gap : 20px;
        padding: 0px;
    }

    .lootcarre {
        grid-template-columns: 1fr 1fr;
        gap : 20px;
    }
}

@media screen and (max-width: 600px) { /* smartphones */
    main {
        padding-left: 50px;
        padding-right: 50px; 
    }

    .buttons {
        display: inline-block;
        margin-top: 20px;
    }

    .presentation {
        gap: 20px;
        flex-direction: column-reverse;
    }

    .Texte1 {
        padding-left: 80px;
        padding-right: 80px;
        border: #d01654 3px solid;
    }

    .lootcase {
        grid-template-columns: 1fr;
        gap : 20px;
        padding: 0px;
    }

    .portfoliotitle{
        line-height: 1;
    }
    .lootcarre {
        grid-template-columns: 1fr;
        gap : 20px;
    }
}

